# 80-canon_mfp2.rules

ACTION!="add", GOTO="canon_mfp_end"
SUBSYSTEM=="usb_device", GOTO="canon_mfp_start"
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", GOTO="canon_mfp_start"
GOTO="canon_mfp_end"

LABEL="canon_mfp_start"

#MG7500 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="177c", MODE="666"
#MG6600 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="177e", MODE="666"
#MG5600 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="177f", MODE="666"
#MG2900 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1780", MODE="666"
#MB2000 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1778", MODE="666"
#MB2300 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1779", MODE="666"
#MB5000 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1776", MODE="666"
#MB5300 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1777", MODE="666"
#E460 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1788", MODE="666"

#MX490 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1787", MODE="666"
#E480 series
ATTR{idVendor}=="04a9", ATTR{idProduct}=="1789", MODE="666"


LABEL="canon_mfp_end"
